body{
    margin: 0;
    overflow: hidden;
    background: #000;
}
*{
    margin: 0;
    padding: 0;
    outline: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-tap-highlight-color: rgba(0, 0, 0, 0);
    -ms-tap-highlight-color: rgba(0, 0, 0, 0);
    -o-tap-highlight-color: rgba(0, 0, 0, 0);
    tap-highlight-color: rgba(0, 0, 0, 0);
}
#preloader{
    display: none;
    text-align: center;
}
#preloaderBackground{
    background-image: url("img/splashscreen.jpg");
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    z-index: 9999;
    transform: translate(0px, 0px);
    width: 1024px;
    height: 748px;
    display: inline-block;
}
.meter-wrap {
    position: absolute;
    height: 11px;
    width: 50%;
    bottom: 5%;
    left: 0;
    right: 0;
    margin: auto auto;
}
.meter-wrap-bg-container {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    padding: 0 12px;
}
.meter-wrap-bg-left, .meter-wrap-bg-bar, .meter-wrap-bg-right {
    position: relative;
    float: left;
    height: 100%;
    top: -100%;
    border-top: 1px solid #b2c82f;
    border-bottom: 1px solid #b2c82f;
    background-color: #000;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.meter-wrap-bg-left {
    -moz-border-radius: 12px 0px 0px 12px;
    -webkit-border-radius: 12px 0px 0px 12px;
    border-radius: 12px 0px 0px 12px;
    border-left: 1px solid #b2c82f;
    width: 12px;
    right: 12px;
    height: 100%;
    top: 0px;
}
.meter-wrap-bg-bar, .meter-bg-bar {
    float: left;
    width: 100%;
}
.meter-wrap-bg-right {
    -moz-border-radius: 0px 12px 12px 0px;
    -webkit-border-radius: 0px 12px 12px 0px;
    border-radius: 0px 12px 12px 0px;
    border-right: 1px solid #b2c82f;
    width: 12px;
    margin-right: -12px;
    height: 100%;
}
.meter-value {
    margin-top: 2px;
    height: 7px;
    width: 10%;
    margin-left: 2px;
    overflow: hidden;
}
.meter-bg-container {
    position: relative;
    padding: 0 10px;
    height: 7px;
}
.meter-bg-bar, .meter-bg-left, .meter-bg-right {
    position: relative;
    float: left;
    height: 100%;
    top: -100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #b2c82f;
    -webkit-animation: gradient-anim 2s infinite linear;
    -moz-animation: gradient-anim 2s infinite linear;
    -o-animation: gradient-anim 2s infinite linear;
    animation: gradient-anim 2s infinite linear;
}
.meter-bg-left {
    right: 10px;
    width: 10px;
    height: 100%;
    top: 0px;
    -moz-border-radius: 10px 0px 0px 10px;
    -webkit-border-radius: 10px 0px 0px 10px;
    border-radius: 10px 0px 0px 10px;
}
.meter-bg-right {
    width: 10px;
    margin-right: -10px;
    height: 100%;
    -moz-border-radius: 0px 10px 10px 0px;
    -webkit-border-radius: 0px 10px 10px 0px;
    border-radius: 0px 10px 10px 0px;
}